{% extends 'base_home.html' %}

{% block title %}GHUB{% endblock %}

{% block content %}
{% load static %}
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="{% static 'img/overlays/carousel_4.png' %}" alt="First slide">
                <div class="mask flex-center waves-effect waves-light rgba-teal-strong carousel_background">
                    <ul>
                        <li>
                            <h3 class="h3-responsive" align="center">Healthcare to the optimum with speed</h3>
                        </li>
                        <li>
                            <h5 class="h5-responsive" align="center">Track and monitor the progress of health in your without struggle.</h5>
                        </li>
                        <li>
                            <button type="button" class="btn purple-gradient btn-lg cara-button_2">Health Prediction</button>
                            <button type="button" class="btn peach-gradient btn-lg cara-button_1">Monitor Your Health Daily</button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="carousel-caption">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
            </div>-->
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="{% static 'img/overlays/carousel_4.png' %}" alt="Second slide">
                <div class="mask flex-center waves-effect waves-light rgba-teal-strong carousel_background">
                    <ul>
                        <li>
                            <h3 class="h3-responsive" align="center">Healthcare to the optimum with speed</h3>
                        </li>
                        <li>
                            <h5 class="h5-responsive" align="center">We manage your health for you</h5>
                        </li>
                        <li>
                            <button type="button" class="btn purple-gradient btn-lg cara-button_2">Health Prediction</button>
                            <button type="button" class="btn peach-gradient btn-lg cara-button_1">Monitor Your Health Daily</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="{% static 'img/overlays/carousel_4.png' %}" alt="Third slide">
                <div class="mask flex-center waves-effect waves-light rgba-teal-strong carousel_background">
                    <ul>
                        <li>
                            <h3 class="h3-responsive" align="center">Healthcare to the optimum with speed</h3>
                        </li>
                        <li>
                            <h5 class="h5-responsive" align="center">We manage your health for you</h5>
                        </li>
                        <li>
                            <button type="button" class="btn purple-gradient btn-lg cara-button_2">Health Prediction</button>
                            <button type="button" class="btn peach-gradient btn-lg cara-button_1">Monitor Your Health Daily</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->



<!-- Section: Features v.2 -->
<section class="my-5">

   <div class="container">

       <!-- Section: Features v.1 -->
       <section class="text-center my-5">

           <!-- Section heading -->
           <h2 class="h1-responsive font-weight-bold my-5">What We Do</h2>
           <!-- Section description -->
           <p class="lead grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

           <!-- Grid row -->
           <div class="row">

               <!-- Grid column -->
               <div class="col-md-3">

                   <img src="{% static 'img/overlays/we-help-2.png' %}" align="center" style="height: 100px;width: 100px;">

                   <h5 class="font-weight-bold my-4">Medical Certificate</h5>
                   <p class="grey-text mb-0" align="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
                   </p>

               </div>
               <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-3">

                   <img src="{% static 'img/overlays/we-help-2.png' %}" align="center" style="height: 100px;width: 100px;">
                   <h5 class="font-weight-bold my-4">Health</h5>
                   <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitconsectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
                   </p>

               </div>
               <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-3">

                   <img src="{% static 'img/overlays/we-help-2.png' %}" align="center" style="height: 100px;width: 100px;">
                   <h5 class="font-weight-bold my-4">Medical Examination</h5>
                   <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitconsectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
                   </p>

               </div>
               <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-3">

                   <img src="{% static 'img/overlays/we-help-2.png' %}" align="center" style="height: 100px;width: 100px;">
                   <h5 class="font-weight-bold my-4">Nutrition and Fitness</h5>
                   <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitconsectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
                   </p>

               </div>
               <!-- Grid column -->

           </div>
<!--
           <div class="row">

               &lt;!&ndash; Grid column &ndash;&gt;
               <div class="col-md-4">

                   <i class="fa fa-area-chart fa-3x red-text"></i>
                   <h5 class="font-weight-bold my-4">Analytics</h5>
                   <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
                   </p>

               </div>
               &lt;!&ndash; Grid column &ndash;&gt;

               &lt;!&ndash; Grid column &ndash;&gt;
               <div class="col-md-4">

                   <i class="fa fa-book fa-3x cyan-text"></i>
                   <h5 class="font-weight-bold my-4">Tutorials</h5>
                   <p class="grey-text mb-md-0 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
                   </p>

               </div>
               &lt;!&ndash; Grid column &ndash;&gt;

               &lt;!&ndash; Grid column &ndash;&gt;
               <div class="col-md-4">

                   <i class="fa fa-comments-o fa-3x orange-text"></i>
                   <h5 class="font-weight-bold my-4">Support</h5>
                   <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores aperiam minima assumenda deleniti hic.
                   </p>

               </div>
               &lt;!&ndash; Grid column &ndash;&gt;

           </div><br><br>
-->
           <!-- Grid row -->

       </section>
       <!-- Section: Features v.1 -->
       <br><br><br><br><br><br>
   </div>
</section>
<!-- Section: Features v.2 -->

<!-- Card -->
<section class="card_sec">
    <!-- Card -->
    <!-- Card image -->
    <div class="view">
        <img class="" src="{% static 'img/overlays/feature-1.png' %}" alt="Card image cap">
            <div class="mask rgba-white-slight feature_background"> <!--Section heading-->
                <h1 class="py-5 font-weight-bold text-center feature_head">Features For your health</h1>

                <p class="px-2 mb-1 pb-3 lead grey-text text-center feature_intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.
                </p>

                <div class="container">
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-4">

                            <!--Grid row-->
                            <div class="row mb-2">
                                <!--<div class="col-2">
                                    <i class="fa fa-2x fa-flag-checkered deep-purple-text"></i>
                                </div>-->
                                <div class="col-12 text-left">
                                    <h5 class="font-weight-bold feature_head">Mobile Health</h5>
                                    <p class="grey-text feature_intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                                        deleniti hic.</p>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row mb-2">
                                <!--<div class="col-2">
                                    <i class="fa fa-2x fa-flask deep-purple-text"></i>
                                </div>-->
                                <div class="col-12 text-left">
                                    <h5 class="font-weight-bold feature_head">Personal Health</h5>
                                    <p class="grey-text feature_intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                                        deleniti hic.</p>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row mb-2">
                                <!--<div class="col-2">
                                    <i class="fa fa-2x fa-glass deep-purple-text"></i>
                                </div>-->
                                <div class="col-12 text-left">
                                    <h5 class="font-weight-bold feature_head">Corporate Health</h5>
                                    <p class="grey-text feature_intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                                        deleniti hic.</p>
                                </div>
                            </div>
                            <!--Grid row-->

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-4 mb-2 center-on-small-only flex-center">
                            <!--
                            <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="" class="z-depth-0">
                            -->
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-4">

                            <!--Grid row-->
                            <div class="row mb-2">
                                <!--<div class="col-2">
                                    <i class="fa fa-2x fa-heart deep-purple-text"></i>
                                </div>-->
                                <div class="col-12 text-left">
                                    <h5 class="font-weight-bold feature_head">Family Health</h5>
                                    <p class="grey-text feature_intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                                        deleniti hic.</p>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row mb-2">
                                <!--<div class="col-2">
                                    <i class="fa fa-2x fa-flash deep-purple-text"></i>
                                </div>-->
                                <div class="col-12 text-left">
                                    <h5 class="font-weight-bold feature_head">School Health</h5>
                                    <p class="grey-text feature_intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                                        deleniti hic.</p>
                                </div>
                            </div>
                            <!--Grid row-->

                            <!--Grid row-->
                            <div class="row mb-2">
                                <!--<div class="col-2">
                                    <i class="fa fa-2x fa-magic deep-purple-text"></i>
                                </div>-->
                                <div class="col-12 text-left">
                                    <h5 class="font-weight-bold feature_head">Occupational Health</h5>
                                    <p class="grey-text feature_intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                                        deleniti hic.</p>
                                </div>
                            </div>
                            <!--Grid row-->

                        </div>
                        <!--Grid column-->

                    </div>

                </div>
                <!--Grid row--></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="card card-cascade wider reverse e">
                <!-- Card content -->
                <div class="card-body text-center">

                    <!-- Text -->
                    <p class="card-text dark-grey-text">repellendus sequi nulla voluptatem dicta reprehenderit, placeat laborum ut beatae ullam suscipit veniam ?
                    </p>
                    <button type="button" class="btn purple-gradient btn-lg monitoring_background">Start monitoring your Health</button>
                </div>

            </div>
        </div>
    </div>
</section>
<!--


<section>
    <div class="packages_background">
        <div class="container">
            <div class="row package_row">
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item pack_head">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item" align="center">
                            <button type="button" class="btn purple-gradient btn-sm">Small button</button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item pack_head">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item" align="center">
                            <button type="button" class="btn purple-gradient btn-sm">Small button</button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item pack_head">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item" align="center">
                            <button type="button" class="btn purple-gradient btn-sm">Small button</button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item pack_head">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item" align="center">
                            <button type="button" class="btn purple-gradient btn-sm">Small button</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

-->
<section>
    <div class="container">
        <div class="row" style="height: 200px">

        </div>
    </div>
</section>

{% endblock %}